/* CSS BY: MADDY FLITTON */

/* IMPORTED FONTS */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root {

    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}

/* GLOBAL STYLES */

body {
	font-family: 'Inter';
	max-width: 450px;
	background-color: var(--Lavender);
	margin: 0 auto 50px auto;
}

h1, h2 {
    font-family: 'Kavoon';
	color: var(--White);
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	padding: 20px 0 0 20px;
}

h3 {
	font-size: 1.5em;
	color: var(--Yellow);
	font-weight: bolder;
	padding: 5px 0 0 20px;
}

h4 {
	font-size: 1.15em;
	font-weight: bold;
	color: var(--Purple);
}

nav {
	background-color: var(--Yellow);
	padding: 5px 0 10px 0;
}

nav a {
	text-decoration: none;
	color: var(--Purple);
}

nav li {
	background-color: var(--White);
	margin: 10px 20px;
	padding: 15px 0;
	font-weight: bolder;
}

nav h2 {
	font-size: 1.5em;
	font-family: 'Inter';
	font-style: italic;
	font-weight: bolder;
	color: var(--Dark-gray);
	padding-top: 10px;
}

header {
	background-color: var(--Purple);
	text-align: center;
}

header p {
	color: var(--White);
	padding: 10px 20px;
	line-height: 25px;
}

#header {
	padding: 30px 0 30px 0;
}

#our-services {
	background-color: var(--Purple);
	padding-bottom: 10px;
}

#our-services h4 {
	padding: 5px 0 10px 0;
}

#our-services img {
	padding: 0 0 10px 10px;
}

#personal-development {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#personal-development p {
	line-height: 25px;
}

#career-coaching {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#career-coaching p {
	line-height: 25px;
}

#relationship-coaching {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#relationship-coaching p {
	line-height: 25px;
}

#supportive-community {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#supportive-community p {
	line-height: 25px;
}

#focused-session {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#focused-session p {
	line-height: 25px;
}

#interactive-learning {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#interactive-learning p {
	line-height: 25px;
}

#flexible-learning {
	background-color: var(--White);
	margin: 20px 30px;
	padding: 20px;
	border-radius: 15px;
}

#flexible-learning p {
	line-height: 25px;
}

#why-choose-us {
	background-color: var(--Pink);
	padding-bottom: 15px;
}

#why-choose-us h2 {
	margin: 0 0 20px 0;
}

#why-choose-us ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;
	column-gap: 15px;
	row-gap: 15px;
}

#personalized-approach {
	background-color: var(--Teal);
	padding: 35px;
	margin: 0 0 0 20px;
	font-weight: bolder;
	text-align: center;
	border-radius: 15px;
}

#proven-results {
	background-color: var(--Lavender);
	padding: 42px 40px;
	margin: 0 20px 0 0;
	font-weight: bolder;
	text-align: center;
	border-radius: 15px;
}

#supportive-environment {
	background-color: var(--Yellow);
	padding: 35px;
	margin: 0 0 0 20px;
	font-weight: bolder;
	text-align: center;
	border-radius: 15px;
}

#flexible-options {
	background-color: var(--White);
	padding: 42px 35px;
	margin: 0 20px 0 0;
	font-weight: bolder;
	text-align: center;
	border-radius: 15px;
}

#pricing {
	background-color: var(--Purple);
	padding-bottom: 10px;
}

#pricing h3 {
	padding: 10px 20px;
}

#pricing table {
	margin: 0 auto;
}

#pricing th {
	background-color: var(--Yellow);
	border: 2px solid var(--Yellow);
	font-weight: bolder;
	padding: 15px 0;
}

#pricing td {
	background-color: var(--White);
	border: 2px solid var(--Yellow);
	padding: 15px;
}

#schedule-now {
	background-color: var(--Pink);
	padding-bottom: 10px;
}

#schedule-now p {
	margin: 10px 20px;
	border-radius: 15px;
	line-height: 25px;
	color: var(--White);
}

#schedule-now a {
	text-decoration: none;
	display: block;
	color: var(--Dark-gray);
	font-weight: bolder;
	background-color: var(--White);
	text-align: center;
	padding: 20px 40px;
	margin: 0 30px;
	border-radius: 15px;
	box-shadow: 6px 6px 4px var(--Dark-gray);
}

footer {
	background-color: var(--Purple);
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 60px 0;
	align-items: center;
	justify-items: center;
}

footer p {
	color: var(--White);
	margin: 0 0 0 20px;
}

footer a {
	color: var(--White);
	margin: 0 20px 0 0;
}